# Source files
src/
examples/

# Config files
.eslintrc.js
jest.config.js
tsconfig.json

# Tests
**/*.test.ts
**/*.spec.ts
test/
tests/

# Other files
.gitignore
.github/
.vscode/
node_modules/
.env*

# Build artifacts
.DS_Store
Thumbs.db
*.log
yarn-error.log